/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk Latar Belakang dan Teks */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Bagian Header */
header {
    background-color: #28a745;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Kontainer Formulir Kontak */
.kontainer-kontak {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.kontainer-kontak h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.kontainer-kontak p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

/* Gaya Grup Input */
.grup-input {
    margin-bottom: 15px;
}

.grup-input label {
    font-size: 14px;
    color: #333;
}

.grup-input input,
.grup-input textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 7px;
    font-size: 16px;
}

.grup-input textarea {
    resize: vertical;
}

/* Tombol Kirim */
.tombol-kirim {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

/* Footer */
footer {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #28a745;
}

/* Gaya untuk Semua Link */
a {
    text-decoration: none;
}

.tombol-kirim a {
    color: white;
}
